* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  * {
    display: none;
  }
}

.container {
  background-image: url("https://res.cloudinary.com/dn9dkcxvs/image/upload/v1734379774/freepik__upload__86387_usfbsr.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    color: white;
    text-align: center;
    width: 100%;
    margin: 10px 0 40px 0;
  }

  .container__login {
    background-color: #1e92af;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 40px 20px;
    /* height: 400px; */
  }
  .container__login-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    /* padding: 20px; */
    label {
      color: white;
    }
  }

  .login-button {
    margin: 10px auto 40px auto;
    padding: 10px 15px;
    width: 30%;
    font-size: 14px;
    border-radius: 14px;
    outline: none;
    border: none;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 500;
  }

  .login-button:hover {
    background-color: #6ccbe3;
    color: white;
    cursor: pointer;
  }
}

.input {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}
